html {
  font-size: 62.5%; 
  @media only screen and (max-width: 56.25em) { 
    font-size: 56.25%;
  }
  @media only screen and (max-width: 28.125em) { 
    font-size: 50%;
    overflow-x: hidden !important;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;

  /* background-color: hsl(229, 100%, 97%);  */
}