.feature {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 0 15rem 0;
}
@media only screen and (max-width: 56.25em) {
    .feature {
    max-width: 70rem;
    }
}
@media only screen and (max-width: 28.125em) {
    .feature {
    padding: 0 0 20rem 0; 
    }
}
.feature__header {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.feature__header h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: hsl(229, 31%, 21%);
}
.feature__header p{
    font-size: 2rem;
    color: hsl(229, 8%, 60%);
}

@media only screen and (max-width: 56.25em) { 
    .feature__header p{
        font-size: 1.8rem;
    }
}
@media only screen and (max-width: 28.125em) {
    .feature__header {
        width: 80%;
    }
}

.feature__tab--option {
    width: 60rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -2rem;
    height: 5rem;
    padding: 0 2rem 2rem 2rem;
}
@media only screen and (max-width: 28.125em) {
    .feature__tab--option {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 13rem;
    }
}

.feature__tab--option__one {
    position: relative;
}

.feature__tab--option__one div{ 
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: hsl(229, 31%, 21%);
    cursor: pointer;
}

@media only screen and (max-width: 28.125em) {
    .feature__tab--option__one { 
    border-bottom: .1rem solid rgb(212, 212, 212);
    border-top: .1rem solid rgb(212, 212, 212);
    padding: 1rem;
    width: 100%;
}
}

@media only screen and (max-width: 28.125em) { 
    .feature__tab--option__one div{  
        font-size: 2rem;
        padding: 1.5rem 2.5rem;
    }
}


.feature__tab--option__one--line { 
    display: inline-block;
    position: absolute;
    bottom: -2rem;
    left: -1.2rem;
    right: -1.2rem;
    padding: 1rem;
    border-bottom: hsl(0, 94%, 66%);
    border-width: .3rem;
    border-bottom-style: solid;
}
@media only screen and (max-width: 28.125em) { 
    .feature__tab--option__one--line { 
    width: 40%;
    left: 28%;
    bottom: 0;
    }
}

.feature__tab--option__two {
    position: relative;
}
.feature__tab--option__two div {
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: hsl(229, 31%, 21%);
    cursor: pointer;
}

@media only screen and (max-width: 28.125em) {  
    .feature__tab--option__two div {
        font-size: 2rem;
        padding: 1.5rem 2.5rem;
    }
}

@media only screen and (max-width: 28.125em) { 
    .feature__tab--option__two {
    border-bottom: .1rem solid rgb(212, 212, 212);
    padding: 1rem;
    width: 100%;
    }
}

.feature__tab--option__two--line {
    display: inline-block;
    position: absolute;
    bottom: -2rem;
    left: -1.2rem;
    right: -1.2rem;
    padding: 1rem;
    border-bottom: hsl(0, 94%, 66%);
    border-width: .3rem;
    border-bottom-style: solid;
}
@media only screen and (max-width: 28.125em) { 
    .feature__tab--option__two--line { 
    width: 40%;
    left: 28%;
    bottom: 0;
    }
}

.feature__tab--option__three {
    position: relative;
}
.feature__tab--option__three div { 
    width: auto;
    height: auto;
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: hsl(229, 31%, 21%);
    cursor: pointer;
}

@media only screen and (max-width: 28.125em) { 
    .feature__tab--option__three div {
        font-size: 2rem;
        padding: 1.5rem 2.5rem;
    }
}

@media only screen and (max-width: 28.125em) { 
    .feature__tab--option__three {
    border-bottom: .1rem solid rgb(212, 212, 212);
    padding: 1rem;
    width: 100%; 
    }
}

.feature__tab--option__three--line { 
    display: inline-block;
    position: absolute;
    bottom: -2rem;
    left: -1.2rem;
    right: -1.2rem;
    padding: 1rem;
    border-bottom: hsl(0, 94%, 66%);
    border-width: .3rem;
    border-bottom-style: solid;
}
@media only screen and (max-width: 28.125em) { 
    .feature__tab--option__three--line { 
    width: 40%;
    left: 28%;
    bottom: 0;
    }
}

.feature__tab--preview {
    margin-top: 8rem;
}
.feature__con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}
@media only screen and (max-width: 56.25em) {
    .feature__con {
    display: block;
    margin-top: -22rem;
    }
}

.feature__left{
    position: relative;
    width: 50%;
    height: auto;
}

.feature__left span { 
    position:absolute;
    z-index: -1;
    top: 10rem;
    right:25%;
    width:70rem;
    height:37rem;
    border-radius: 0 0 12rem 0;
    background-color: hsl(231, 69%, 60%);
}

@media only screen and (max-width: 56.25em) { 
    .feature__left span {  
        right: -40%;
    }
}

@media only screen and (max-width: 28.125em) { 
    .feature__left span {  
        height:23rem;
        top: 6rem;
        right: -60%;
    }
}
@media only screen and (max-width: 56.25em) { 
    .feature__left{ 
        transform: translateY(20rem);
    }
}
@media only screen and (max-width: 28.125em) { 
    .feature__left{ 
        transform: translateY(28rem);
    }
}

.feature__tab--preview__one--left__con {
    @media only screen and (max-width: 28.125em) { 
        position: relative;
        left: 10% !important;
    }
} 
.tabMain {
    position: relative;
    left: 20%;
    top: -1rem;
}

@media only screen and (max-width: 28.125em) { 
    .tabMain { 
    left: 30%;
    top: -2rem;
    }
}
.tabSpan {
    top: 11rem;
    right:5%;
    width:100rem;
    height:37rem;
}
.feature__tab--preview__two--left__pic {
    width: 56rem;
}
@media only screen and (max-width: 56.25em) {
    .feature__tab--preview__two--left__pic {
    width: 58rem !important;
    }
}
@media only screen and (max-width: 28.125em) {
    .feature__tab--preview__two--left__pic { 
    width: 36rem !important;
    }
}
.feature__tab--preview__three--left__pic {
    width: 56rem;
}
@media only screen and (max-width: 56.25em) {
    .feature__tab--preview__three--left__pic {
    width: 58rem !important;
    }
}
@media only screen and (max-width: 28.125em) {
    .feature__tab--preview__three--left__pic { 
    width: 36rem !important;
    }
}
.feature__pic {
    width: 65rem;
}
@media only screen and (max-width: 28.125em) { 
    .feature__pic {
    width: 38rem;
    }
}
.feature__right {
    width: 50%;
    max-width: 50rem;
}
.feature__right h1{ 
    font-size: 3.5rem;
    color: hsl(229, 31%, 21%);
}
@media only screen and (max-width: 28.125em) { 
    .feature__right h1{  
        font-size: 2.8rem;
    }
}
.feature__right p{ 
    font-size: 2rem;
    color: hsl(229, 8%, 60%);
}
@media only screen and (max-width: 28.125em) { 
    .feature__right p{  
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 56.25em) {
    .feature__right {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    transform: translateY(25rem);
    }
}
@media only screen and (max-width: 28.125em) {
    .feature__right {
    width: 80%;
    transform: translateY(35rem);
    text-align: center;
    }
}
.feature__btn {
    background-color: hsl(231, 69%, 60%);
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: .5rem;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    cursor: pointer;
    transition: all .1s;
}
    @media only screen and (max-width: 28.125em) { 
        .feature__btn {
        display: none;
        }
    }
.feature__btn:hover {
    border: .2rem solid hsl(231, 69%, 60%);
    background-color: hsl(0, 0%, 100%);
    color: hsl(231, 69%, 60%);
}