.feature {
    padding: 0 0 15rem 0;
}
.feature__header {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
}

.feature__header h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: hsl(229, 31%, 21%);
}
.feature__header p{
    font-size: 2rem;
    color: hsl(229, 8%, 60%);
}

.feature__tab--option {
    width: 60rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: hsl(229, 31%, 21%);
    cursor: pointer;
}

.feature__tab--option__one {
    position: relative;
}

.line {
    display: inline-block;
    position: absolute;
    bottom: -2rem;
    left: -1.2rem;
    right: -1.2rem;
    padding: 1rem;
    border-bottom: hsl(0, 94%, 66%);
    border-width: .3rem;
    border-bottom-style: solid;
}

.feature__tab--option__two {
    position: relative;
}

.feature__tab--option__three {
    position: relative;
}

.feature__tab--preview {
    margin-top: 4rem;
}
.feature__con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}

.feature__left{
    position: relative;
    width: 50%;
    height: auto;
}
.feature__pic {
    position: relative;
    left: calc(10% + 2rem);
    width: calc(100% - 10rem);
}

.tabSpanFirst { 
    position:absolute;
    z-index: -1;
    top: calc(10% + 6rem);
    left: 0;
    width: calc(70% + 10rem);
    height: calc(100% - 6rem);
    border-radius: 0 0 12rem 0;
    background-color: hsl(231, 69%, 60%);
}
.feature__picc {
    position: relative;
    left: calc(25% - 4rem);
    width: calc(100% - 10rem);
    height: calc(90% - 2rem);
}
.tabSpan {
    position:absolute;
    z-index: -1;
    top: calc(14% + 12rem);
    left: 0;
    width: calc(100% - 10rem);
    height: calc(100% - 16rem);
    border-radius: 0 0 12rem 0;
    background-color: hsl(231, 69%, 60%);
}

.feature__right {
    width: 50%;
    max-width:45rem;
    margin: 0 auto;
}
.feature__right h1{ 
    font-size: 3.5rem;
    color: hsl(229, 31%, 21%);
}
.feature__right p{ 
    font-size: 2rem;
    color: hsl(229, 8%, 60%);
}

.feature__btn {
    background-color: hsl(231, 69%, 60%);
    width: 14rem;
    height: 4rem;
    border: none;
    border-radius: .5rem;
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    cursor: pointer;
    transition: all .1s;
}

.feature__btn:hover {
    border: .2rem solid hsl(231, 69%, 60%);
    background-color: hsl(0, 0%, 100%);
    color: hsl(231, 69%, 60%);
}

/*<========================== MEDIA QUERIES ===============================>*/
/* TAB-LAND */
@media only screen and (max-width: 81.25em) { 

}
/* TAB-PORT */
@media only screen and (max-width: 56.25em) { 
    .feature__header { 
        max-width: 80%;
    }
    .feature__header h1{
        font-size: 2.6rem;
    }
    .feature__header p{
        font-size: 2.2rem;
    }

    .feature__tab--option { 
        max-width: 80%;
        font-size: 2rem;
    }

    .feature__con {
        flex-direction: column;
        justify-content: space-between;
    }

    .feature__left{ 
        width: 100%;
        }

        .feature__pic {
            width: calc(60vw + 15rem);
            left: calc(10% + 2rem);
            }

            .feature__picc { 
                width: 70%;
                left: calc(10% + 10rem);
                height: auto;
            }

            .tabSpanFirst {  
                width: calc(60% + 18rem);
            }

            .tabSpan {
                width: calc(50% + 14rem);
                height: calc(100% - 12rem);
                top: calc(10% + 7rem);
            }

            .feature__right {
                width: 100%;
                max-width: 65rem;
                margin: 0 auto;
                margin-top: 5rem;
                }
                .feature__right h1{  
                    font-size: 2.8rem;
                }
                .feature__right p{  
                    font-size: 2.2rem;
                }
}
/* PHONE */
@media only screen and (max-width: 37.5em) { 
    .feature__header p{
        font-size: 2rem;
    }

    .feature__tab--option__one { 
        border-bottom: .1rem solid rgb(212, 212, 212);
        border-top: .1rem solid rgb(212, 212, 212);
        padding: 1rem;
        width: 100%;
    }

    .feature__tab--option {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        }

        .feature__tab--option__one div{  
            padding: 1.5rem 2.5rem;
        }

        .line {
            width: 40%;
            left: 28%;
            bottom: 0;
        }

        .feature__tab--option__two {
            border-bottom: .1rem solid rgb(212, 212, 212);
            padding: 1rem;
            width: 100%;
            }


            .feature__tab--option__three {
                border-bottom: .1rem solid rgb(212, 212, 212);
                padding: 1rem;
                width: 100%;
                }

        .feature__tab--option__two div {
            padding: 1.5rem 2.5rem;
        }

        .feature__tab--option__three div {
            padding: 1.5rem 2.5rem;
        }

        .feature__pic {
            width: calc(55vw + 15rem);
            left: calc(2% + 1rem);
            }

            .feature__picc { 
                width:75%;
                left: calc(4% + 10rem);
            }

            .tabSpanFirst {
                width: calc(50% + 18rem);
            }

            .tabSpan {
                width: calc(55% + 16rem);
                height: calc(100% - 13rem);
                top: calc(14% + 8rem);
                }

                .feature__right {
                    max-width: calc(100% - 5rem);
                text-align: center;
                }
}
/* PHONE-PORT */
@media only screen and (max-width: 28.125em) { 
    .feature {
        padding: 0 0 10rem 0; 
        }

        .feature__pic {
            width: calc(42vw + 15rem);
            left: calc(6% + 1rem);
            }

            .feature__picc { 
                width:80%;
                left: calc(4% + 2rem);
            }

            .tabSpanFirst {
                width: calc(40% + 17rem) !important;
            }

            .tabSpan {
                width: calc(65vw + 3rem);
                height: calc(80% - 5rem);
                top: calc(14% + 8rem);
            }

            .feature__btn {
                display: none;
                }
}