.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 12rem 0;
    width: 100%;
}
@media only screen and (max-width: 81.25em) {
    .home {
    padding: 12rem 0 15rem 0;
    }
} 
@media only screen and (max-width: 56.25em) {
    .home {
    padding: 8rem 0 15rem 0;
    }
} 
@media only screen and (max-width: 28.125em) {
    .home {
    padding: 15rem 0 15rem 0;
    }
}
.home__left {
    max-width: 53rem;
    width: 50%;
    margin: 0 auto;
}
.home__left h1 {
    font-size: 5.5rem;
    color: hsl(229, 31%, 21%);
}
.home__left p{
    font-size: 2.8rem;
    color: hsl(229, 8%, 60%);
}
@media only screen and (max-width: 81.25em) {
    .home__left { 
        max-width: 43rem;
        width: 100%;
    }
    .home__left h1 { 
        font-size: 4.5rem;
    }
    .home__left p{ 
        font-size: 2.2rem;
    }
} 
@media only screen and (max-width: 56.25em) { 
    .home__left { 
        max-width: 63rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 28.125em) {
    .home__left {
    width: 100%;
    max-width: 30rem;
    transform: translateY(34rem);
    text-align: center;
    }
    .home__left h1 {
        font-size: 3rem;
    }
    .home__left p {
        font-size: 1.5rem;
    }
}

.home__left--btn {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
}
@media only screen and (max-width: 28.125em) { 
    .home__left--btn {
    font-size: 1.5rem;
    width: 100%;
    justify-content: center;
    transform: translateY(3rem);
    }
}
.home__left--btn__chrome {
    background-color:hsl(231, 69%, 60%);
    padding: 1rem;
    border-radius: .5rem;
    color: rgb(255, 255, 255);
    margin-right: 1rem;
    transition: all .1s;
    text-align: center;
}
.home__left--btn__chrome:hover {
    background-color:hsl(0, 0%, 100%);
    color: hsl(231, 69%, 60%);
    border: .2rem solid hsl(231, 69%, 60%);
}
.home__left--btn__firefox {
    background-color:hsl(0, 0%, 100%);
    padding: 1rem;
    box-shadow: .5rem .5rem 1.5rem rgba(0,0,0, .2);
    border-radius: .5rem;
    color: hsl(229, 8%, 60%);
    transition: all .1s;
}
.home__left--btn__firefox:hover {
    background-color:hsl(0, 0%, 100%);
    box-shadow: 0 0 0 rgba(0,0,0, 0);
    color: hsl(0, 0%, 7%);
    border: .2rem solid hsl(0, 0%, 0%);
}
.home__right {
    width: 50%;
    position:relative;
}
@media only screen and (max-width: 56.25em) { 
    .home__right {
    width: 100%;
    }
}
@media only screen and (max-width: 28.125em) {
    .home__right {
    transform: translateY(-20rem);
    }
}
.home__right--bg__pic {
    position: relative;
    right: 7%;
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 56.25em) {
    .home__right--bg__pic {
        left:7%;
        max-width: 75rem;
    }
}
@media only screen and (max-width: 28.125em) {
    .home__right--bg__pic {
    left: 5%;
    max-width: 38rem;
    }
}

.home__right--sketch { 
    position:absolute;
    z-index: -1;
    top: 30%;
    right: 0;
    width:75%;
    height:35rem;
    border-radius: 0 0 0 12rem;
    background-color: hsl(231, 69%, 60%);
}
@media only screen and (max-width: 81.25em) {
    .home__right--sketch { 
        top: 22%;
        width: 80%; 
        height: 35rem;
        }
} 
@media only screen and (max-width: 56.25em) {
    .home__right--sketch { 
    width: 70%; 
    height: 38rem;
    }
}
@media only screen and (max-width: 28.125em) {
    .home__right--sketch { 
    top: 6rem;
    width: 80%; 
    height:20rem;
    }
}
