.pricing {
  padding: 12rem 0;
}

.pricing__exTypo {
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
}
.pricing__exTypo h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: hsl(229, 31%, 21%);
}
.pricing__exTypo p {
  font-size: 2rem;
  color: hsl(229, 8%, 60%);
}

.pricing__exGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  max-width: 95rem;
  margin: 0 auto;
  transform: translateY(8rem);
}
.pricing__exGrid h2 {
  font-size: 1.8rem;
  color: hsl(229, 31%, 21%);
  margin: 2rem 0 0.6rem 0;
}
.pricing__exGrid p {
  font-size: 1.4rem;
  color: hsl(229, 8%, 60%);
  margin: 0;
}
@media only screen and (max-width: 46.5em) {
  .pricing__exGrid {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    transform: translateY(18rem);
  }
}
.ex {
  position: relative;
  width: 20rem;
  height: 30rem;
  padding: 3rem 4rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ex--1 {
  margin-top: -16rem;
}
.ex--2 {
  margin-top: -8rem;
}
.ex--3 {
  margin-top: 4rem;
}

.dotted--line {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dotted--line__pic {
  width: 24rem;
}
.ex--btn {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  background-color: hsl(231, 69%, 60%);
  border-radius: 0.6rem;
  margin:0 auto;
  padding: 1.2rem;
  margin-top: 10rem;
}
.ex--btn:hover {
  border: .2rem solid hsl(231, 69%, 60%);
  background-color: hsl(0, 0%, 100%);
  color: hsl(231, 69%, 60%);
}
.pricing__faq {
  margin: 0 auto;
  max-width: 50rem;
  margin-top: 20rem;
}

.pricing__faq--typo {
  text-align: center;
}
@media only screen and (max-width: 46.5em) {
  .ex--1 {
    margin-bottom: 0;
  }
  .ex--2 {
    margin-top: 0;
  }
  .ex--3 {
    margin-top: 0;
  }

  .pricing__faq { 
    margin-top: 28rem;
  }
}
.pricing__faq--typo h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: hsl(229, 31%, 21%);
}
.pricing__faq--typo p {
  font-size: 1.8rem;
  color: hsl(229, 8%, 60%);
}
.pricing__faq--main {
  margin-top: 3rem;
}
.selectfield {
  border-bottom: 0.5px solid hsl(229, 8%, 60%);
}
.selectfield:first-child {
  border-top: 0.1rem solid hsl(229, 8%, 60%) !important;
}
.selectquestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: hsl(229, 31%, 21%);
  font-weight: 600;
  padding: 0 1.2rem 0 0;
}
.selectanswer {
  font-size: 1.5rem;
  color: hsl(229, 8%, 60%);
}
.faqMoreInfor__btn {
  margin-top: 5rem;
  background-color: hsl(231, 69%, 60%);
  width: 16rem;
  height: 5rem;
  border: none;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s;
}
.faqMoreInfor__btn:hover {
  border: 0.2rem solid hsl(231, 69%, 60%);
  background-color: hsl(0, 0%, 100%);
  color: hsl(231, 69%, 60%);
}

.hidden {
  display: none;
}
.rotate {
  transform: rotate(180deg);
  filter: invert(51%) sepia(74%) saturate(1334%) hue-rotate(323deg)
    brightness(100%) contrast(100%);
    transition: transform .3s;
}

/*<========================== MEDIA QUERIES ===============================>*/
/* TAB-LAND */
@media only screen and (max-width: 81.25em) { 

}
/* TAB-PORT */
@media only screen and (max-width: 56.25em) { 
  .pricing {
    padding: 10rem 0;
    margin-top: -6rem;
  }

  .pricing__exTypo { 
    max-width: 80%;
  }

  .pricing__exTypo h1 { 
    font-size: 2.6rem;
  }

  .pricing__exTypo p { 
    font-size: 2.2rem;
  }

  .pricing__exGrid { 
    max-width: 94rem;
    column-gap: 0;
  }

  .pricing__exGrid h2 { 
    font-size: 2.4rem;
  }

  .pricing__exGrid p { 
    font-size: 1.8rem;
  }

  .ex { 
    width: 22rem;
    padding: 3rem;
  }
  .ex--btn { 
    font-size: 1.6rem;
    margin-top: 7rem;
  }
  .pricing__faq--typo  h1{ 
    font-size: 2.6rem;
  }
  .pricing__faq--typo p { 
    font-size: 2.2rem;
  }

  .selectquestion { 
    font-size: 2.2rem;
  }
  .selectanswer { 
    font-size: 2rem;
  }

  .faqMoreInfor__btn {
    font-size: 2rem;
  }
}
/* PHONE */
@media only screen and (max-width: 37.5em) { 
  .selectquestion img {
    margin-left: 4rem;
  }
}
/* PHONE-PORT */
@media only screen and (max-width: 28.125em) { 
  .pricing__faq {
    width: 90%;
  }
}